/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .jumbotron {
    height: 100vh !important;
    width: 100% !important;
    background-color: white !important;
    position: fixed !important;
  }
  .jumbotron-inner {
    padding-right: 15px;
    padding-left: 15px;
  }
  .jumbotron-inner h1 {
    margin-bottom: 20px !important;
    font-family: "Times New Roman" !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 90px !important;
    line-height: 82.49% !important;
    text-align: left !important;
    color: #000000 !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .jumbotron {
    height: 100vh !important;
    width: 100% !important;
    background-color: white !important;
    position: fixed !important;
  }
  .jumbotron-inner {
    padding-right: 15px;
    padding-left: 15px;
  }
  .jumbotron-inner h1 {
    margin-bottom: 20px !important;
    font-family: "Times New Roman" !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 90px !important;
    line-height: 82.49% !important;
    text-align: left !important;
    color: #000000 !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .jumbotron {
    height: 100vh !important;
    width: 100% !important;
    background-color: white !important;
    position: fixed !important;
  }
  .jumbotron-inner {
    padding-right: 15px;
    padding-left: 15px;
  }
  .jumbotron-inner h1 {
    margin-bottom: 20px !important;
    font-family: "Times New Roman" !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 90px !important;
    line-height: 82.49% !important;
    text-align: left !important;
    color: #000000 !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .jumbotron {
    height: 100vh !important;
    width: 100% !important;
    background-color: white !important;
    position: fixed !important;
    background-image: url("../../assets/img/bg1.png") !important;
    background-position: right !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }
  .jumbotron-inner {
    margin-left: 5rem;
  }
  .jumbotron-inner h1 {
    margin-bottom: 50px !important;
    font-family: "Times New Roman" !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 110px !important;
    line-height: 82.49% !important;
    text-align: left !important;
    color: #000000 !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .jumbotron {
    height: 100vh !important;
    width: 100% !important;
    background-color: white !important;
    position: fixed !important;
    background-image: url("../../assets/img/bg1.png") !important;
    background-position: right !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }
  .jumbotron-inner {
    margin-left: 5rem;
  }
  .jumbotron-inner h1 {
    margin-bottom: 50px !important;
    font-family: "Times New Roman" !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 110px !important;
    line-height: 82.49% !important;
    text-align: left !important;
    color: #000000 !important;
  }
}
